.crypto {
  padding: 22px 36px 10px 36px;
  background: linear-gradient(
    175.59deg,
    rgba(29, 38, 45, 0.5) 0%,
    rgba(41, 50, 56, 0.5) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 1px 56px rgba(255, 255, 255, 0.05);
  margin-bottom: 20px;
  border-radius: 12px;
  h5 {
    margin-bottom: 10px;
    small {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 155.19%;
      color: rgba($color: $white, $alpha: 0.7);
    }
  }
  p {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      margin: 0;
      &.placeholder {
        min-height: 22px;
        border-radius: 5px;
        width: 50%;
        max-width: 180px;
        display: block;
      }
    }
  }
  &__more {
    display: flex;
    align-items: center;
    &.placeholder {
      min-height: 22px;
      border-radius: 5px;
      width: 50%;
      max-width: 150px;
      display: block;
    }
    img {
      margin-left: 10px;
    }
    p {
      margin: 0 0 0 10px;
      &.uniq {
        color: $main;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__name {
    display: flex;
    align-items: center;
    &.placeholder {
      min-height: 30px;
      width: 50%;
      max-width: 150px;
      display: block;
      border-radius: 5px;
    }

    h5 {
      margin: 0;
    }
    img {
      height: 25px;
      margin-right: 10px;
    }
  }
  .button {
    &.placeholder {
      min-height: 30px;
      border-radius: 5px;
      width: 50%;
      max-width: 100px;
      display: block;
    }
  }
}
